*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.appContainer{
  width: 100%;
  height: 100vh;
}
/* ----------Navigation bar---------- */

/* ----------View Stock---------- */
.viewContainer{
  width: 100%;
  height: 100%;
  padding: 10px;
  background: rgba(0,0,0,.1);
  
}
.secContainer{
  width: 100%;
  height: 100%;
}
/* ----------Add Stock ---------- */
.addContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100%;
  /* background: silver; */
}
.addCard{
  border: 1px solid rgba(0,0,0,.2);
  width: 70%;
  height: 50%;
  padding: 10px;
  border-radius: 10px;
  background: rgba(0,0,0,.1);
  box-shadow: 2px 2px 2px rgba(0,0,0,.1);
}
.inputContainer{
  padding: 5px 0;
  margin-bottom: 10px;
}
/* ----------sales---------- */
/* ----------navigation---------- */





/* ----------global var---------- */



.error{
  color: #d9534f;
}
.primary{
  background: #0275d8;
}

